<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <figure><embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed></figure> -->
<figure><embed src="https://wakatime.com/share/@Jack_Koh/c41da976-20d2-4b43-ab1b-4a5daab4dc72.svg"></embed></figure>

<!-- Hours Coded -->
<!-- <figure>
    <figure><embed src="https://wakatime.com/share/@Jack_Koh/6eb8bec6-1a62-4fa0-8539-78c1ffd647cf.svg"></embed></figure>
</figure> -->