.img-responsive {
  width: 100%;
}

blockquote.dev-tool {
  margin: 0;
  padding: 0;
  border: 1px solid #494c50;
  margin-bottom: 10px;

  @mixin arrow {
    width: 0;
    height: 0;
    margin-right: 4px;
  }

  @mixin arrow-down {
    @include arrow;
    border-left: 0.34rem solid transparent;
    border-right: 0.34rem solid transparent;
    border-top: 0.54rem solid #9aa0a6;
  }

  @mixin arrow-right {
    @include arrow;
    border-top: 0.34rem solid transparent;
    border-bottom: 0.34rem solid transparent;
    border-left: 0.54rem solid #9aa0a6;
  }

  & > div {
    .arrow-right {
      display: flex;
      align-items: center;
      margin-right: 4px;
      &::before {
        content: "";
        display: block;
        @include arrow-right;
      }
    }

    .arrow-down {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        @include arrow-down;
      }
    }

    p {
      margin: 0;
      &.title {
        height: 30px;
        line-height: 30px;
        font-size: 87.5%;
        font-weight: 700;
      }

      &.sub-title {
        font-size: 87.5%;
        padding-left: 10px;
        .key {
          color: #5db0d7;
          font-weight: 700;
          &::after {
            content: ":";
            color: #fff;
            margin-left: 0.2rem;
          }
        }

        .value {
          color: #fff;
          margin-left: 0.5rem;
        }
      }

      &.property {
        font-size: 87.5%;
        padding-left: 25px;
        .key {
          color: #5db0d7;
          font-weight: 700;

          &::after {
            content: ":";
            color: #fff;
            margin-left: 0.2rem;
          }
        }

        .value {
          color: #35d4c7;
          margin-left: 0.5rem;
        }
      }
    }

    &.head {
      width: 100%;
      padding: 0 16px;
      background-color: #292a2d;
      border-bottom: 1px solid #494c50;
    }

    &.body {
      width: 100%;
      padding: 16px;
      background-color: #202124;
    }
  }

  .white {
    color: #fff !important;
  }

  .purple {
    color: #9980ff !important;
  }

  .gray {
    color: #9aa095 !important;
  }

  .orange {
    color: #f29766 !important;
  }

  .dark-sky {
    color: #427187 !important;
  }

  .margin-l-10 {
    margin-left: 10px;
  }

  .margin-t-10 {
    margin-top: 10px;
  }

  .margin-b-10 {
    margin-bottom: 10px;
  }
}

#blog-post-container {
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

p {
  &.speak {
    font-style: italic;
    font-weight: 700;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 18px;
    border-left: 2px solid var(--link-color);
    color: var(--bold-color);
  }
}

.center {
  display: flex;
  align-items: center;
  padding: 0 10%;

  img {
    width: 100%;
  }
}
